{% extends 'template.html' %}

{% block left_aside %}
<section id="ImageLeft"></section>
{% endblock %}

{% block content %}
<section>
    <article id="NameCard">
        <h1>Jack Carson</h1>
        <p>Software Engineer & Web Developer</p>
    </article>
    <article>
        <p>
            Hello, and welcome to my portfolio! My name is Jack. I am a software engineer and web developer based in Manchester, UK.
            I specialise in creating dynamic, user-friendly web applications and innovative software solutions using both front-end
            and back-end technologies.
        </p>
        <p>
            I thrive on transforming complex challenges into seamless digital experiences; whether it is developing robust back-end
            systems, crafting interactive user interfaces, or optimising the performance of an existing application, I bring a keen eye
            for detail and a commitment to excellence to each and every project.
        </p>
        <p>
            Please, take a look around, and feel free to get in touch.
        </p>
        <a class="button forward" href="#">Contact Me</a>
    </article>
</section>
{% endblock %}
