@import './static/less/variables.less';
@import './static/less/mixins.less';

body#Index {
    section#ImageLeft {
        height: 100%;
        left: 0;
        position: fixed;
        width: 40%;
        z-index: @main-z-index;
        background-image: url('../img/portrait.png');
        background-size: 100%;
        background-position: left center;
        background-repeat: no-repeat;
    }

    main {
        height: 100%;
        right: 0;
        width: 60%;

        section {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;

            article {
                @article-margin-right: 15em;

                &#NameCard {
                    display: inline-block;
                    height: @name-card-height;
                    margin-right: @article-margin-right;
                    margin-top: 3vw;

                    h1 {
                        color: @name-card-header-color;
                        font-size: @name-card-header-size;
                    }

                    p {
                        color: @name-card-text-color;
                        font-size: @name-card-text-size;
                        margin: unset;
                    }
                }
                &#PersonalStatement {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    margin: 1vw @article-margin-right 5vw 0;
                    opacity: 0;

                    p {
                        flex-grow: 1;
                    }

                    &.display {
                        animation: fadeIn 0.75s ease-in forwards;
                    }

                    .button {
                        margin-top: 2vw;
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}